/*
 * author: lrf
 * date:2019/12/02
 */

@charset "utf-8";

#wapSuccessPage {
  overflow: hidden;

  .top_bg {
    margin: 0 auto;
    margin-top: 50px;
    width: 55px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
    @include bgImageOne('./../../../../../assets/redeem/success');
  }

  .title {
    text-align: center;
    font-size: 17px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #333333;
    line-height: 20px;
  }

  .content_goods {
    margin: 0 auto;
    width: 95%;
    text-align: center;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #999999;
    line-height: 19px;

    .content_title {
      color: #F05654;
    }
  }

  .button_wrapper {
    margin: 0 auto;
    margin-top: 53px;
    width: 345px;

    .van-button--primary {
      width: 345px;
      height: 40px;
      border-radius: 3px;

      .van-button__text {
        font-size: 15px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
      }
    }
  }

  .recommend {
    padding: 10px;
    margin-top: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding-top: 30px;

    .van-icon-point-gift-o {
      font-size: 17px;
    }
  }
}

.huoba-goods-list-label {
  position: absolute;
  z-index: 99;
  width: 26px;
  height: 18px;
  background: #ffb16e;
  border-radius: 5px 0 5px 0 !important;
  font-size: 12px!important;
  color: #fff;
  display: inline-block;
  padding: 2px 2.5px !important;
  top: 0;
  left: 0;
  text-align: center;
}

.goods_list_ebook {
  width: 36px;
}

.etc_box {
  column-count: 2;
  /*css3新增，把contaner容器中的内容分为三列*/
  column-gap: 11px;
  /*定义列之间的间隙为20px*/

}

.etc_inbox {
  font-size: 40px;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  counter-increment: item-counter;
}

#resultPage .content.book .ratiobook .bookimg {
  left: -1px !important;
  top: -1px !important;
}
