/*
 * author: zhuboyu
 * date:2020/9/11
 */

@charset "utf-8";

#newGiftUserGift {
  .title {
    margin: 20px 15px 40px;
    color: #343434;
    font-size: 18px;
    font-weight: bold;
  }
  .one_box {
    .top {
      text-align: center;
      margin-bottom: 20px;
      .picture {
        margin-bottom: -25px;
        img {
          width: 9%;
          height: 14%;
        }
      }
      .title_1 {
        color: #343434;
        font-size: 15px;
        span {
          position: relative;
        }
        .left-icon {
          font-weight: bold;
        }
        .left-icon:before {
          content: '';
          position: absolute;
          left: -30px;
          top: 3px;
          background: url("../../../../assets/newGift/gift_icon_left.png") no-repeat;
          background-size: 100% 100%;
          box-sizing: border-box;
          width: 25px;
          height: 18px;
        }
        .right-icon:after {
          content: '';
          position: absolute;
          right: -30px;
          top: 3px;
          background: url("../../../../assets/newGift/gift_icon_right.png") no-repeat;
          background-size: 100% 100%;
          box-sizing: border-box;
          width: 25px;
          height: 18px;
        }
      }
      .title_2 {
        color: #9A9A9A;
        margin-top: 15px;
        font-size: 13px;
      }
    }
    .content_coupon {
      margin-bottom: 20px;
      .couponImg {
        position: relative;
        .bookimg {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 0;
          position: relative;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: contain;
          padding-bottom: 32%;
          background-color: #fff;
          border: 1px solid transparent;
          border-radius: 10px;
        }
      }
    }
    .content.usedBook {
      .right {
        .text {
          color: #999999;
        }
        .pinpai {
          .sub_title {
            color: #999999;
          }
        }
        .bot {
          del {
            color: #999999;
          }
        }
      }
      .right_icon {
        .icon {
          color: #E5E5E5;
        }
      }
    }
    .content {
      display: flex;
      background-color: #fff;
      padding: 10px;
      margin: 0 15px 15px;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 10px;
      border-radius: 5px;
      .ratiobook {
        min-width: 96px;
        position: relative;
        .bookimg {
          display: block;
          @include ratioBox (100%, 100%, 1px solid transparent, contain, $white, null);
          border-radius: 10px;
        }
        .book_text_title {
          display: inline-block;
          padding: 2px 3px;
          background-color: #FFB26E;
          border-radius: 5px;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 10px;
          color: #fff;
        }
      }
      .right {
        position: relative;
        flex-grow: 1;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        width: 40%;
        .text {
          @include font("PingFangBold", $fontSize, $cl3);
          @include twoColtextOverflow;
        }
        .pinpai {
          display: flex;
          font-size: 11px;
          color: #9A9A9A;
          .sub_title {
            @include textOverflow;
            background-color: #F5F5F5;
            padding: 2px;
          }
        }
        .bot {
          display: flex;
          align-items: center;
          color: #343434;
          .price {
            font-size: 13px;
            color: #F05654;
            padding-right: 12px;
          }
          del{
            font-size: 10px;
          }
        }
        .used {
          font-size: 38px;
          color: #999;
          position: absolute;
          right: -20px;
          top: 50%;
        }
      }
      .right_icon {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .icon {
          font-size: 18px;
          color: #9A9A9A;
        }
        .icon.checked {
          color: #F05654;
        }
      }
    }
  }
  .next_page.active {
    background-color: #F5F5F5;
    color: #9A9A9A;
  }
  .next_page {
    font-size: 15px;
    background-color: #EF5545;
    color: #fff;
    width: 93%;
    line-height: 40px;
    margin: 20px 15px 10px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
  }
}
